@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

@font-face {
  font-family: "Sans-Regular";
  src: url(../fonts/Sans-Regular.ttf);
}

@font-face {
  font-family: "Sans-Medium";
  src: url(../fonts/Sans-Medium.ttf);
}

@font-face {
  font-family: "Sans-DemiBold";
  src: url(../fonts/Sans-DemiBold.ttf);
}

@font-face {
  font-family: "Sans-Bold";
  src: url(../fonts/Sans-Bold.ttf);
}

body {
  @apply bg-zinc-100 font-Sans-Medium;
}

#user-card {
  @apply w-[768px] p-5 child:px-5 bg-white rounded-lg shadow-md mt-5 hover:scale-[1.01] duration-150 hover:shadow-lg;
}
